@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body{
    background-color: #272727;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #f6f6f6;
}

button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #2c679e;
    color: #f6f6f6;
    cursor: pointer;
}
/*****************NAVAGATION BAR******************/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #f6f6f6;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    color: #f6f6f6;
    text-decoration: none;
    font-size: 1.50rem;
    padding: 17px;
    border-radius: 25px;
    transition: 0.25s ease;
}

nav ul li a:hover{
    background-color: #2c679e;
}
/*****************TOP SECTION******************/

#top{
    background-image: url(/assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 81vh;
    transform: translateY(0%);
}

#top .top-text{
    font-size: 2.25rem;
    text-align: center;
    transform: translateY(14%);
    color: #f6f6f6;
    background: #2c679e;
    width: 30%;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
/*****************PRICE PLAN******************/

/*****************FOOTER******************/

footer{
    background: #2c679e;
    transform: translateY(20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .col1{
    transform: translateX(2%);
}

footer .col1 .item{
    display: flex;
}

footer .col1 .item h3{
    color: #f6f6f6;
    margin-left: 10px;
}

footer .divider{
    height: 60vh;
    width: 5px;
    background-color: #f6f6f6;
}

footer .col2 form input, footer .col2 form textarea{
    width: 345px;
}

footer .col2 form button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #272727;
    color: #f6f6f6;
}